
/* Estilo para el cuerpo de la página */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background: linear-gradient(to right, #0072ff, #00c6ff, #00ff7f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

/* Estilo para el cuerpo de la página */
body.dark-mode {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background:  linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(99,83,83,1) 64%, rgba(133,133,135,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

/* Estilo para el contenedor principal */
.contenedor {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: url('./resources/2842680.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* Estilo para el interruptor de modo oscuro */
.toggle-switch {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.checkbox:checked + .slider {
  background-color: #2196F3;
}

.checkbox:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.checkbox:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

label {
  display: block;
  position: relative;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #333;  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  
}

/*Estilos de nav bar */
nav {
  font-size: 18px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
  background-color: #4a1a8d;
  width: 200px;
  text-align: center;
  border-radius: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav li:hover {
  background-color: #8130f1;
}

nav a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


/* Estilo para los títulos */
h1, h2 {
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 2em;
  margin: 1em 0;
  padding: 0.5 em;
  background-color: #f5f5f5;
  border: 4px solid rgba(20, 11, 97, 0.439);
  border-radius: 8px;
  position: relative;
  color: #333;
  font-size: 2em;
  margin: 1em 0;
  padding: 5px;
}
h1:before, h2:before {
  content: "";
  bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid rgb(0, 0, 255);
  border-radius: 8px;
  z-index: -1;
  animation: pulse 2s ease-out infinite;
}

h1:hover:before, h2:hover:before {
  height: 100%;
}

/* Estilo para el área de texto del código fuente */
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
  border: 2px solid #ddd;
  border-radius: 8px;
  resize: vertical;
  min-height: 200px;
}

textarea::placeholder {
  display: block;
text-align: center;
  animation: typing 2s steps(12),
  blink .5s infinite step-end alternate;
  overflow: hidden;
  
  
}


/* Estilo para el área de resultados */
pre  {
  font-family: Consolas, monospace;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  min-height: 200px;
}
pre.dark-mode{
  font-family: Consolas, monospace;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #d4cdcdec;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  min-height: 200px;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}
 label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #333;  background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 5px;
  }

/*Estilo para botones*/
button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
    background-color: hsl(210deg 100% 44%);
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
   }
   
   button:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    opacity: 1;
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
   }
   
   button:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
   }
   
   button i {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
   }
   
   button:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
   }
   
   button:hover i:nth-child(1) {
    transition-delay: 0.045s;
   }
   
   button:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 3);
   }
   
   button:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 4);
   }
   
   button:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 5);
   }
   
   button:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
   }
   
   button:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
   }
   
   button:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
   }
   
   button:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
   }
   
   button:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
   }

  

  .toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /*Estilos para el arbol*/
  /* Seleccionamos la lista ordenada principal */
ol {
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}

/* Seleccionamos los elementos de la lista */
li {
  position: relative; 
}

/* Seleccionamos los elementos de la lista que tienen listas anidadas */
li > ol > li:before {
  content: ""; 
  position: absolute; 
  top: 0; 
  left: -20px; 
  width: 20px; 
  border-top: 1px solid #ccc; 
  height: 100%; 
}

/* Estilizamos los elementos de la lista que tienen listas anidadas */
li > ol > li {
  position: relative; 
  margin-left: 20px; 
}

/* Estilizamos los elementos de la lista que no tienen listas anidadas */
li:not(:last-child):before {
  content: ""; 
  position: absolute; 
  top: 0; 
  left: -20px; 
  width: 20px; 
  border-top: 1px solid #ccc; 
  height: 100%; 
}

.documentacion{

  background-color: #222225c0;
  color: #ccc;
  padding: 10px;
  text-align: justify;
}

  /* Key frames */
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse {
    0% {
      border-color: rgb(0, 0, 255);
    }
    50% {
      border-color: rgb(255, 0, 0);
    }
    100% {
      border-color: rgb(0, 255, 0);
    }
  }

  @keyframes typing {
    from {width: 0;}
  }

  @keyframes blink {
    50% {border-color: transparent;}
  }
